{{!-- Container for account manipulations --}}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
<link rel="stylesheet" href="/stylesheets/bodyKeep.css">
<div>
    <!-- Display approval or disapproval success message -->
    <div class="container-fluid">
        {{> message}}
    </div>
    <h1><b>Welcome to your Dashboard, {{loggedIn.username}}!</b></h1>
</div>

<div class="container-fluid">
    {{!-- Container for the mod approval section --}}
    <div class="post_container">
        <h2 id="TableTitle"><b>Moderators To Review</b></h2>
        <table id="unapprovedTable" class="table table-bordered">
            <colgroup>
                <col span="1" style="width: 50%;">
                <col span="1" style="width: 25%;">
                <col span="1" style="width: 25%;">
            </colgroup>
            <tbody>
                <thead>
                    <tr class="tr">
                        <th scope="col" style="text-align: center;">Moderator Username</th>
                        <th scope="col" style="text-align: center;">Approve</th>
                        <th scope="col" style="text-align: center;">Remove</th>
                    </tr>
                </thead>
                {{#if unapprovedMods}}
                {{#each unapprovedMods}}
                <tr class="tr">
                    <td scope="row" style="text-align: center;">{{this.username}}</td>
                    <td style="text-align: center;"><a href="/masteradmin/{{this.id}}/approve"
                            id="approve_button"><button
                                style="background-color: rgb(19, 138, 19); color: white; font-weight: bold;">Approve</button></a></td>
                    <td style="text-align: center;"><a href="/masteradmin/{{this.id}}/remove" id="remove_button"><button
                                style="background-color: red; color: white; font-weight: bold;">Remove</button></a></td>
                </tr>
                {{/each}}
                {{/if}}
            </tbody>
        </table>
    </div>
</div>

<br /><br />

<div class="container-fluid">
    {{!-- Container for the active mod section --}}

    <h2 id="TableTitle"><b>Active Moderators</b></h2>
    <table id="activeTable" class="table table-bordered">
        <colgroup>
            <col span="1" style="width: 50%;">
            <col span="1" style="width: 50%;">
        </colgroup>
        <tbody>
            <tr class="tr">
                <th scope="col" style="text-align: center;">Moderator Username</th>
                <th scope="col" style="text-align: center;">Disapprove</th>
            </tr>
            {{#if activeMods}}
            {{#each activeMods}}
            <tr>
                <td scope="row" style="text-align: center;">{{this.username}}</td>
                <td style="text-align: center;"><a href="/masteradmin/{{this.id}}/disapprove"
                        id="approve_button"><button style="background-color: red; color: white; font-weight: bold;">Disapprove</button></a>
                </td>
            </tr>
            {{/each}}
            {{/if}}
        </tbody>
    </table>

</div>