{{!-- Container for account manipulations --}}
<div class="account_container mt-4">
    <!-- Display approval or disapproval success message -->
    <div class="col-5 mx-auto">
        {{> message}}
    </div>
    <h1>Welcome to your Dashboard!</h1>
</div>

<div class="tab-content">
    {{!-- Container for the mod approval section --}}
    <div class="post_container">
        <h2 id="TableTitle">Moderators To Review</h2>
        <table id="unapprovedTable" class="table">
            <colgroup>
                <col span="1" style="width: 50%;">
                <col span="1" style="width: 25%;">
                <col span="1" style="width: 25%;">
            </colgroup>
            <tbody>
                <tr class="tr">
                    <th class="th_admin">Moderator Username</th>
                    <th class="th_admin">Approve</th>
                    <th class="th_admin">Remove</th>
                </tr>
                {{#if unapprovedMods}}
                {{#each unapprovedMods}}
                <tr class="tr">
                    <td class="th">{{this.username}}</td>
                    <td class="th"><a href="/masteradmin/{{this.id}}/approve"
                            id="approve_button"><button>Approve</button></a></td>
                    <td class="th"><a href="/masteradmin/{{this.id}}/remove"
                            id="remove_button"><button>Remove</button></a></td>
                </tr>
                {{/each}}
                {{else}}
                <tr class="tr">
                    <th class="th_admin">No moderators</th>
                    <th class="th_admin">To</th>
                    <th class="th_admin">Review</th>
                </tr>
                {{/if}}
            </tbody>
        </table>
    </div>
</div>

<br/><br/>

<div class="tab-content">
    {{!-- Container for the active mod section --}}
    <div class="post_container">
        <h2 id="TableTitle">Active Moderators</h2>
        <table id="activeTable" class="table">
            <colgroup>
                <col span="1" style="width: 50%;">
                <col span="1" style="width: 50%;">
            </colgroup>
            <tbody>
                <tr class="tr">
                    <th class="th_admin">Moderator Username</th>
                    <th class="th_admin">Disapprove</th>
                </tr>
                {{#if activeMods}}
                {{#each activeMods}}
                <tr class="tr">
                    <td class="th">{{this.username}}</td>
                    <td class="th"><a href="/masteradmin/{{this.id}}/disapprove"
                            id="approve_button"><button>Disapprove</button></a></td>
                </tr>
                {{/each}}
                {{else}}
                <tr class="tr">
                    <th class="th_admin">No Active</th>
                    <th class="th_admin">Moderators</th>
                </tr>
                {{/if}}
            </tbody>
        </table>
    </div>
</div>