<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
<link rel="stylesheet" href="/stylesheets/bodyKeep.css">
<div>
    <h1><b>This is a list of all the posts approved and unapproved.</b></h1>
    <br/>
</div>

<script type="text/javascript" src="/js/filterById.js"></script>

<div class="container-fluid">
    <input id="idSearch" onkeyup="filterId(0)" placeholder="type post id"/>
    <br/>
    
    <table class="table table-bordered" id="postTable">
        <colgroup>
            <col span="1" style="width: 20%;">
            <col span="1" style="width: 10%;">
            <col span="1" style="width: 20%;">
            <col span="1" style="width: 25%;">
            <col span="1" style="width: 25%;">
        </colgroup>
        <tbody>
            <thead>
                <tr>
                    <th scope="col" style="text-align: center;">Post ID</th>
                    <th scope="col" style="text-align: center;">Title</th>
                    <th scope="col" style="text-align: center;">Approved by</th>
                    <th scope="col" style="text-align: center;">Date Submitted</th>
                    <th scope="col" style="text-align: center;">Cover</th>
                </tr>
            </thead>
            {{#if post}}
            {{#each post}}
            <tr>
                <td scope="row" style="text-align: center;"><b>{{this.pid}}</b></td>
                <td style="text-align: center;"><a href="/libraryitem/{{this.pid}}/moderator">{{this.title}}</a></td>
                <td style="text-align: center;">{{#if this.status}}Approved by: <b>{{this.approvedby}}</b>{{else}}<b>Not
                        yet approved</b>{{/if}}</td>
                <td style="text-align: center;">Submitted on: {{this.date}}</td>
                <td style="text-align: center;"><img src='/images/upload/{{this.cover}}' width="100" height="120"
                        alt="Responsive image" /></td>
            </tr>
            {{/each}}
            {{else}}
            <h2 style="text-align: center;">No Posts Could Be Found</h2>
            {{/if}}
        </tbody>
    </table>
</div>