<div class="header">
    <h1>Edit Information</h1>
</div>
<br>

<!-- Postimage form -->
<div style="text-align: center;">
    <img src="/images/uploads/{{loggedIn.id}}/postImages/{{values.filename}}" width="250"height="300" />
    <br/>
    <form action="/imageCard/{{values.pid}}/update" method="POST">
        <div class="form-group">
            <h5>Title</h5>
            <input type="text" id="title" name="title" class="form-control" placeholder="Enter a title"  
            value="{{values.title}}" maxlength="40" required />
        </div>

        <div class="form-group">
            <h5>Description</h5>
            <textarea class="form-control" rows="5" id="description" name="description"
                placeholder="Please enter description here" required>{{values.description}}</textarea>
        </div>
        <br>

        <div class="row justify-content-end mx-0">
            <button type="submit" class="btn btn-success" id="submit">Submit</button>
        </div>

    </form>
</div>
