<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
<link rel="stylesheet" href="/stylesheets/bodyKeep.css">
<link rel="stylesheet" href="/stylesheets/backgroundColor.css">
<script src="/js/showJapTitle.js"></script>
<script src="/js/sortTable.js"></script>
<script src="/js/filterByTypes.js"></script>
<script src="/js/pagination.js"></script>
<div class="container-fluid">
    <div class="home" style="width: 100%;">
        <div style="text-align: center;">
            {{#each origins}}
            <a href="/search/{{this.name}}/byorigin"><button
                    style="background-color: orange; color: white; font-weight: bold;">{{this.name}}</button></a>
            {{/each}}
        </div>
        <br />
        <h2 class="firstchar"><a href="/search/symbols/firstletter">#</a> <a href="/search/a/firstletter">a</a>
            <a href="/search/b/firstletter">b</a> <a href="/search/c/firstletter">c</a> <a
                href="/search/d/firstletter">d</a> <a href="/search/e/firstletter">e</a> <a
                href="/search/f/firstletter">f</a> <a href="/search/g/firstletter">g</a> <a
                href="/search/h/firstletter">h</a> <a href="/search/i/firstletter">i</a> <a
                href="/search/j/firstletter">j</a> <a href="/search/k/firstletter">k</a> <a
                href="/search/l/firstletter">l</a> <a href="/search/m/firstletter">m</a> <a
                href="/search/n/firstletter">n</a> <a href="/search/o/firstletter">o</a> <a
                href="/search/p/firstletter">p</a> <a href="/search/q/firstletter">q</a> <a
                href="/search/r/firstletter">r</a> <a href="/search/s/firstletter">s</a> <a
                href="/search/t/firstletter">t</a> <a href="/search/u/firstletter">u</a> <a
                href="/search/v/firstletter">v</a> <a href="/search/w/firstletter">w</a> <a
                href="/search/x/firstletter">x</a> <a href="/search/y/firstletter">y</a> <a
                href="/search/z/firstletter">z</a> <a href="/search/newest">NEW</a></h2>
        <br />
        <div class="checkbox-options">
            <label for="jtShow" id="jtShowLabel">Show Japanese Title</label>
            <input type="checkbox" id="jtShow" name="jtShow" onclick="showHideJapTitle();" style="cursor: pointer;" />
            <br />

            {{#each types}}
            <label for="{{this.name}}" id="{{this.name}}Label">{{this.name}}</label>
            <input type="checkbox" id="{{this.name}}" name="{{this.name}}" onclick="showHide({{this.tid}});"
                style="cursor: pointer;" />
            {{/each}}
        </div>

        <table class="table table-bordered" id="resultTable" style="font-size: large;">
            <caption style="color: black;">{{#if resultNum}}There are <b>{{resultNum.count}}</b>
                {{resultNum.term}}.{{/if}}{{newest.text}}</caption>
            <colgroup>
                <col span="1" style="width: 10%;">
                <col span="1" style="width: 10%;">
                <col span="1" style="width: 15%;">
                <col span="1" style="width: 15%;">
                <col span="1" style="width: 10%;">
                <col span="1" style="width: 20%;">
                <col span="1" style="width: 20%;">
            </colgroup>
            <tbody>
                <thead>
                    <tr>
                        <th scope="col" style="text-align: center;">Cover</th>
                        <th scope="col" style="text-align: center;">Sample Image</th>
                        <th scope="col" style="text-align: center;">Title</th>
                        <th scope="col" style="text-align: center;">Author</th>
                        <th scope="col" style="text-align: center;">Type</th>
                        <th scope="col" style="text-align: center;">Description</th>
                        <th scope="col" style="text-align: center;">Details</th>
                    </tr>
                </thead>
                {{#if post}}
                {{#each post}}
                <tr class="resultRow">
                    <td scope="row"><a href="/images/upload/{{this.cover}}" target="_blank"><img
                                src='/images/upload/{{this.cover}}' width="100" height="120"
                                alt="Responsive image" /></a></td>
                    <td><a href="/images/upload/{{this.image}}" target="_blank"><img src='/images/upload/{{this.image}}'
                                width="100" height="120" alt="Responsive image" /></a></td>
                    <td style="text-align: center;"><a href="/libraryitem/{{this.pid}}">{{this.title}}</a><br />
                        <div class="hidden jsel">{{this.jtitle}}</div>
                    </td>
                    <td style="text-align: center;">{{this.author}}</td>
                    <td style="text-align: center;"><a href="/search/{{this.type}}/bytype">{{this.type}}</a></td>
                    <td style="text-align: center; white-space: pre-line;">{{this.description}}</td>
                    <td style="text-align: center; white-space: pre-line;">{{this.details}}<br />Released on:
                        {{this.year}}<br />Origin: <a href="/search/{{this.origin}}/byorigin">{{this.origin}}</a></td>
                </tr>
                {{/each}}
                {{else}}
                <h2 style="text-align: center;">No Posts Could Be Found</h2>
                {{/if}}
            </tbody>
        </table>
        <div class="pagination" id="paginationBar"></div>
    </div>
</div>