<div class="itemContainer">
    <div class="container-fluid">
        {{#each postInfo}}
        <h1>{{this.title}}</h1>
        <h2>{{this.jtitle}}</h2>
        <div class="main_photo">
            <img data-enlargable src="/images/upload/{{this.cover}}" id="coverImage" alt="Responsive image"> <img
                data-enlargable src="/images/upload/{{this.image}}" id="postImage" alt="Responsive image">
        </div>
        <br/>
        <table id="imageCardTable" class="table" style="width: 100%;">
            <colgroup>
                <col span="1" style="width: 15%;">
                <col span="1" style="width: 30%;">
                <col span="1" style="width: 30%;">
                <col span="1" style="width: 5%;">
                <col span="1" style="width: 10%;">
                <col span="1" style="width: 10%;">
            </colgroup>
            <tbody>
                <tr class="trCard">
                    <th class="th">Author:</th>
                    <th class="th">Details:</th>
                    <th class="th">Description:</th>
                    <th class="th">Type:</th>
                    <th class="th">Tags:</th>
                    <th class="th">Links:</th>
                </tr>
                <tr class="trCard">
                    <th class="th">{{this.author}}</th>
                    <th class="th">{{this.details}}</th>
                    <th class="th">{{this.description}}</th>
                    <th class="th"><a href="/search/{{this.type}}/bytype">{{this.type}}</a></th>
                    {{/each}}
                    <th class="th">{{#each tags}} <a href="/search/{{this.tags}}/bytag">{{this.tags}}</a> <br/>{{/each}}</th>
                    <th class="th">{{#each links}} <a href="{{this.links}}">{{this.links}}</a> <br/>{{/each}}</th>
                </tr>
            </tbody>
        </table>

    </div>
</div>