<div class="tab-content">
    <div class="tab-pane fade show active" id="items_forSale_tab">

        {{!-- Container for the post section --}}
        <script type="text/javascript" src="/js/sortTable.js"></script>
        <div class="post_container">
            <h2 id="TableSearch" style="text-align: center;">Your Image Results:</h2>
            <h2><button onclick="sortTable2()" class="sortButton">Sort Alphabetically</button></h2>
            <h3>There are {{total}} results.</h3>
            {{#if post}}
            <table id="searchTable">
                <colgroup>
                    <col span="1" style="width: 50%;">
                </colgroup>
                <tbody>
                {{#each post}}
                <tr>
                    <td class="imagePrev"><a href="/imageCard/{{this.pid}}">
                    <div class="card-img-overlay"><h4>{{this.title}}</h4> 
                    </a></div> <a href="/imageCard/{{this.pid}}" class="stretched-link">
                    <img src="/images/uploads/{{this.userid}}/postImages/{{this.filename}}" width="250" height="300"/>
                    </a>
                    </td>
                </tr>
                {{/each}}
                </tbody>
            </table>
            {{else}}
            <h2 style="text-align: center;">No Results</h2>
            {{/if}}
        </div>
    </div>
</div>