<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
<link rel="stylesheet" href="/stylesheets/bodyKeep.css">
<link rel="stylesheet" href="/stylesheets/backgroundColor.css">
<div>
    <h1><b>Welcome to your Dashboard, {{loggedIn.username}}!</b></h1>
</div>

<div class="container-fluid">
    <table class="table table-bordered">
        <caption style="color: black; text-align: center">
            <h3><b>Items to review:</b></h3>
        </caption>
        <colgroup>
            <col span="1" style="width: 30%;">
            <col span="1" style="width: 35%;">
            <col span="1" style="width: 35%;">
        </colgroup>
        <tbody>
            <thead>
                <tr>
                    <th scope="col" style="text-align: center;">Title</th>
                    <th scope="col" style="text-align: center;">Cover</th>
                    <th scope="col" style="text-align: center;">Sample Image</th>
                </tr>
            </thead>
            {{#if post}}
            {{#each post}}
            <tr>
                <td scope="row" style="text-align: center;"><a
                        href="/libraryitem/{{this.pid}}/moderator">{{this.title}}</a><br /><br /><a
                        href="/libraryitem/{{this.pid}}/moderator"><button
                            style="background-color: lime; color: white; font-weight: bold;">ReviewPost</button></a>
                </td>
                <td style="text-align: center;"><img src='/images/upload/{{this.cover}}' width="100" height="120"
                        alt="Responsive image" /></td>
                <td style="text-align: center;"><img src='/images/upload/{{this.image}}' width="100" height="120"
                        alt="Responsive image" /></td>
            </tr>
            {{/each}}
            {{else}}
            <h2 style="text-align: center;">No Posts Could Be Found</h2>
            {{/if}}
        </tbody>
    </table>
</div>